*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}


.root {
    font-size: 62.5%;

}

aside h1{
    font-size: 6.4rem;
    font-weight: 500;
    line-height: 7.5rem;
}

aside h1 span, main h2 span{
    color: #ff5678;
}

main {
    width: 60rem;
    height: 5.2rem;
    border: 0.1px solid rgba(0, 0, 0, 0.15);
}

main h2{
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
}

